//Primary Colors
$primary-text-color: #FFFFFF;
$primary-background: #17181D;
$primary-Button: #723CEB;

// #131316

//Secondary Colors


$secondary-red-text-color: #FF0000;

$secondary-gray-text-color: #9E9DA6;

$secondary-black-text-color: #000;

$secondary-background-color: #131316;

$premium-background-color: #FFCD19;


