@import '../../global/colors.scss';

.page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageBall {
    position: absolute;
    top: 0;
    /* Aligns container to the top */
    left: 50%;
    transform: translateX(-50%);
    /* Centers container horizontally */
  
    background-image: url('/Background/backgroundBall.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  
    width: 100%;
    height: 100%;
    background-color: cadetblue;
  }