@import "../../../../global/colors.scss";
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.passwordStrengthContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.strengthIndicator {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.strengthIndicatorItem {
  height: 4px;
  background-color: #292a33;
  flex: 1;
}

.subText {
  color: var(--Text-secondary, #9e9da6);
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}


