@import '../../../../global/colors.scss';

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}
.imageContainer {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
  border: 1px solid #3b3d43;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  color: $primary-text-color;
  text-align: center;
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 116.667% */
}

.subtext {
  color: var(--Text-secondary, #9e9da6);
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}

.emailInfo {
  display: flex;
  gap: 8px;
  padding: 12px 24px 12px 12px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #3c3d44;
}

.email {
  color: $primary-text-color;
  text-align: center;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */

}
