.leftArrowWrapper {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 8px;
    background: #292A33;

}